<div class="displyy-container">
  <div *ngIf="abcd" class="makePaper container">
    <div class="row" *ngIf="chooseSubjectsFlag">
      <div class="col-md-12">
        <div class=" chooseChapterCard">
          <div class="row" id="row">
            <div class="col-md-12">
              <div class="">
                <h2 class="text-center">
                  Make My <span>PRACTICE</span>
                </h2>
                <div class="totalUser">
                  <div>
                    <span class="font-weight-bold">
                      <button class="btn btnLeaderboard" href="javascript:void(0)" routerLink="/subjects"><i
                          class="fas fa-angle-double-left mr-1"></i> Subjects</button>
                    </span>
                  </div>
                  <div>
                  <div>
                    <!-- <span>Total Users : {{totalusers}}</span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
            <hr style="background-color: black;">
            <div class="col-md-12 d-flex chapterCheckbox" *ngIf="!showLoader">
              <div class="subjects">
                <div class="d-flex justify-content-center">
                  <a id="slideLeft" class="mr-2 d-flex align-items-center" href="javascript:void(0)"
                    (click)="slideLeft()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                  <ul class="nav nav-tabs" id="myTab" role="tablist" #widgetsContent>
                    <li class="nav-item" *ngFor="let part of all_parts; let i = index">
                      <a class="nav-link active" (click)="getPartsID(part?.id, part?.name)" id="home-{{i}}-tab"
                        data-toggle="tab" aria-selected="true">{{part?.name}}</a>
                    </li>
                    <li class="nav-item" *ngIf="partsLength">
                      <a class="nav-link active" (click)="getMixPartsTest()" id="home" data-toggle="modal"
                         aria-selected="true" data-target=".subjectMixTest-modal" style="color: green;">Take Test of {{name}}</a>
                    </li>
                  </ul>
                  <a id="slideRight" class="ml-2 d-flex align-items-center" href="javascript:void(0)"
                    (click)="slideRight()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <br>
                <hr style="background-color: black;">
                <div class="panel-body mt-4" *ngIf="subjectPartsVailable">
                  <div class="card newChapterCard" id="newChapterCard">
                    <div class="row">
                      <div class="col-xl-1">
                        <div class="numbering"> 0 </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="chapterTitle">
                          <h2>Take Mix Test of {{parts_name | uppercase}}</h2>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-6">
                        <button type="button" data-toggle="modal" data-target=".selectNumberOfQuestions-modal"
                          (click)="TakeMixChapterTest()" class="btn btnStartNewCard">Start</button>
                      </div>
                    </div>
                  </div>
                  <div class="card newChapterCard" *ngFor="let chapter of chaptersData; let i = index" [ngClass]="{
                                  'belowTwenty': chapter?.percentage <= 30,
                                  'belowFifty': chapter?.percentage > 30 && chapter?.percentage <= 70 ,
                                  'aboveFifty': chapter?.percentage > 70 && chapter?.percentage <= 100,
                                  'notAttempted' :  !chapter?.attempted
                                  }">
                    <div class="row">
                      <div class="col-xl-1">
                        <div class="numbering"> {{i + 1}} </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="chapterTitle">
                          <h2>{{chapter?.name}}</h2>
                        </div>
                      </div>
                      <div class="col-xl-2 col-lg-6">
                        <button type="button" data-toggle="modal" data-target=".bd-example-modal"
                          (click)="saveChapterId(chapter?.id)" class="btn btnStartNewCard">Start</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center" >
              <div class="loader" *ngIf="showLoader">
                <div class="justify-content-center jimu-primary-loading"></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="unSelectPart" *ngIf="unSelectPart">
      <span class="font-weight-bold ml-5">
        <h3>Please select the Part</h3>
      </span>
    </div>
  </div>

  <div class="modal reportModal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog   modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">Difficulty <span>Level</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModald>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <div class="form-group">
            <div class="selectDiiffTitle">
              <label class="diffTitle" for="exampleInputPassword1">Select Difficulty</label>
            </div>
            <div class="btn-group">
              <div>
                <button type="button" (click)="selectDifficultyLevel(1, 1)"
                  class="active reportReasonEasy btn btn-default" id="regi1">Easy</button>
              </div>
              <div>
                <button type="button" (click)="selectDifficultyLevel(2, 5)" class="btn reportReasonMedium btn-default"
                  id="regi2">Medium</button>
              </div>
              <div>
                <button type="button" (click)="selectDifficultyLevel(3, 9)" class="btn reportReasonHard btn-default"
                  id="regi3">Hard</button>
              </div>
              <div>
                <button type="button" (click)="selectAnyRange()" class="btn reportReasonAny btn-default"
                  id="allrange">Any</button>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <div class="selectDiiffTitle">
              <label class="diffTitle" for="exampleInputPassword1">Select Difficulty Level</label>
            </div>
            <div class="btn-groupp">
              <input type="radio" id="d_level11" name="d_level1" class="btn-select" value="0" [(ngModel)]="difficulty" #option111>
              <label for="d_level11" class="buttonLabel">Easy</label>
              <input type="radio" id="d_level21" name="d_level1" class="btn-select" value="1" [(ngModel)]="difficulty" #option222>
              <label for="d_level21" class="buttonLabel">Hard</label>
            </div>
          </div>
          <div class="btnChooseDiff">
            <button type="button" (click)="submitFilterForm()" class="btn btnReport mt-1" data-dismiss="modal">START
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal reportModal fade selectNumberOfQuestions-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog   modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Number of <span>Questions</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="selectDiiffTitle">
            <label class="diffTitle" for="exampleInputPassword1">Select Number Of Questions</label>
          </div>
          <div class="btn-groupp">
            <input type="radio" id="option1" name="questionCount1" class="btn-select" value="25" [(ngModel)]="selectedCount" #option1>
            <label for="option1" class="buttonLabel">25</label>
            <input type="radio" id="option2" name="questionCount1" class="btn-select" value="40" [(ngModel)]="selectedCount" #option2>
            <label for="option2" class="buttonLabel">40</label>
            <input type="radio" id="option3" name="questionCount1" class="btn-select" value="50" [(ngModel)]="selectedCount" #option3>
            <label for="option3" class="buttonLabel">50</label>
            <input type="radio" id="option4" name="questionCount1" class="btn-select" value="80" [(ngModel)]="selectedCount" #option4>
            <label for="option4" class="buttonLabel">80</label>
          </div>
        </div>
        
        <div class="form-group">
          <div class="selectDiiffTitle">
            <label class="diffTitle" for="exampleInputPassword1">Select Difficulty Level</label>
          </div>
          <div class="btn-groupp">
            <input type="radio" id="d_level1" name="d_level" class="btn-select" value="0" [(ngModel)]="difficulty" #option111>
            <label for="d_level1" class="buttonLabel">Easy</label>
            <input type="radio" id="d_level2" name="d_level" class="btn-select" value="1" [(ngModel)]="difficulty" #option222>
            <label for="d_level2" class="buttonLabel">Hard</label>
          </div>
        </div>
        <div class="btnChooseDiff">
          <button type="button" (click)="TakeMixTest()" class="btn btnReport mt-1" data-dismiss="modal">START</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal reportModal fade subjectMixTest-modal" tabindex="-1" role="dialog" aria-labelledby="myMixModalLabel"
  aria-hidden="true">
  <div class="modal-dialog   modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Select Count Of<span>Questions</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="selectDiiffTitle">
            <label class="diffTitle" for="exampleInputPassword1">Select Number Of Questions</label>
          </div>
          <div class="btn-groupp">
            <input type="radio" id="option11" name="questionCount" class="btn-select" value="25" [(ngModel)]="selectedCount2" #option11>
            <label for="option11" class="buttonLabel">25</label>
            <input type="radio" id="option21" name="questionCount" class="btn-select" value="50" [(ngModel)]="selectedCount2" #option21>
            <label for="option21" class="buttonLabel">50</label>
            <input type="radio" id="option31" name="questionCount" class="btn-select" value="75" [(ngModel)]="selectedCount2" #option31>
            <label for="option31" class="buttonLabel">75</label>
            <input type="radio" id="option41" name="questionCount" class="btn-select" value="100" [(ngModel)]="selectedCount2" #option41>
            <label for="option41" class="buttonLabel">100</label>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="selectDiiffTitle">
            <label class="diffTitle" for="exampleInputPassword1">Select Difficulty Level</label>
          </div>
          <div class="btn-groupp">
            <input type="radio" id="d_level111" name="d_level111" class="btn-select" value="0" [(ngModel)]="difficulty" #option1111>
            <label for="d_level111" class="buttonLabel">Easy</label>
            <input type="radio" id="d_level211" name="d_level111" class="btn-select" value="1" [(ngModel)]="difficulty" #option2222>
            <label for="d_level211" class="buttonLabel">Hard</label>
          </div>
        </div>
        <div class="btnChooseDiff">
          <button type="button" (click)="TakeSubjectMixTest()" class="btn btnReport mt-1" data-dismiss="modal">START</button>
        </div>
      </div>
    </div>
  </div>
  </div>


</div>