.contactUsContainer {
    min-height: 100vh;
    padding-bottom: 20px;
  }
  .contactUsContainer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0 0 1em 0;
    padding: 0;
  }
  .contactUsContainer .btnLeaderboard {
    padding: 0;
    font-family: "jaldi", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #007bba;
    background-color: rgba(0, 0, 0, 0);
  }
  .contactUsContainer textarea::placeholder {
    font-size: 16px;
  }
  .contactUsContainer .topHeading {
    color: #000000;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: "Jaldi", sans-serif;
    text-align: center;
  }
  .contactUsContainer .topHeading span {
    color: #007bba;
    font-weight: 700;
  }
  .contactUsContainer .supportDiv {
    display: flex;
    align-items: center;
  }
  .contactUsContainer .supportDiv h2 {
    font-family: "Jaldi", sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #007bba;
  }
  .contactUsContainer .headsetDiv {
    border-radius: 50%;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
  .contactUsContainer .headsetDiv img {
    width: 60px;
    height: 60px;
  }
  .contactUsContainer .briefcaseDiv {
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
  .contactUsContainer .briefcaseDiv img {
    width: 70px;
    height: 55px;
  }
  .contactUsContainer .locationDiv {
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
  .contactUsContainer .locationDiv img {
    width: 60px;
    height: 60px;
  }
  .contactUsContainer .card {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  }
  .contactUsContainer .card h4 {
    font-family: "Jaldi", sans-serif;
    font-size: 17px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
  }
  .contactUsContainer .card h4 a {
    font-family: "Jaldi", sans-serif;
    font-size: 17px;
    color: #000000;
    font-weight: bold;
  }
  .contactUsContainer .card h4 a:hover {
    text-decoration: underline;
    color: #007bba;
  }
  .contactUsContainer .writeToUs {
    font-family: "Jaldi", sans-serif;
    font-size: 25px;
  }
  .contactUsContainer .form-control {
    margin-bottom: 10px;
  }
  .contactUsContainer .btnSubmit {
    background-color: #007cbb;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 3.2px;
    color: #ffffff;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0px 2px 0px 0px #ff4935;
    padding: 0px 20px;
    margin-bottom: 20px;
  }
  .contactUsContainer input {
    font-family: "jaldi", sans-serif;
  }
  
  @media screen and (min-width: 770px) and (max-width: 990px) {
    .contactUsContainer .container .contactDetailsRow {
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 992px) {
    .contactUsContainer .container .topRow {
      flex-direction: column-reverse;
    }
    .contactUsContainer .formSection {
      margin-top: 35px;
    }
  }
  