<div class="disply-container1">

    <div class="contactUsContainer container">
        <h2 class="pt-3 text-center topHeading"> Contact Us
        </h2>
        <!-- <div class="row">
            <div class="col-md-12">
                <button routerLink="/assessment/dashboard/" class="btn float-left btnLeaderboard"><i
                        class="fas fa-angle-double-left mr-1"></i>Dashboard</button>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div> -->
        <div class="row topRow">
            <div class="col-lg-4 col-md-12">
                <div class="row contactDetailsRow">
                    <div class="col-lg-12 col-md-6">
                        <div class="card studentCard" data-aos="fade-down" data-aos-duration="2000">
                            <div class="supportDiv">
                                <div class="headsetDiv">
                                    <img src="assets/img/TechnicalSupport.png" alt="">
                                </div>
                                <div class="contentDiv">
                                    <div><h2>Student Helpline</h2></div>
                                    <div><h4><a href="mailto:support@makemypath.app">support@logimetrix.co.in</a></h4></div>
                                    <div><h4><a href="tel:+4733378901">9935876555</a></h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6" data-aos="fade-down" data-aos-duration="2000">
                        <div class="card businessCard">
                            <div class="supportDiv">
                                <div class="briefcaseDiv">
                                    <img src="assets/img/email.png" alt="">
                                </div>
                                <div>
                                    <div><h2>Business Enquiry</h2></div>
                                    <div><h4 class="text-center"><a href="mailto:contact@makemypath.app">hr@logimetrix.co.in</a></h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6" data-aos="fade-down" data-aos-duration="2000">
                        <div class="card businessCard">
                            <div class="supportDiv">
                                <div class="locationDiv">
                                    <img src="assets/img/PlaceMarker.png" alt="">
                                </div>
                                <div>
                                    <div><h2>Logimetrix Techsolution Pvt. Ltd.</h2></div>
                                    <div>
                                        <h4>3/23, Vikaskhand 3,  </h4>
                                    </div>
                                    <div>
                                        <h4>Vikas Khand, Gomti Nagar,</h4>
                                    </div>
                                    <div>
                                        <h4>Lucknow, Uttar Pradesh 226010</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 offset-lg-1 formSection">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1058.3094796064968!2d80.99469859354599!3d26.849028678916863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be2d015555555%3A0xcae70fb47564e174!2sLogimetrix%20Techsolutions%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1703309748843!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
