<div class="disply-container1">
    <div class="aboutUS">
        <div class="row">
            <div class="col-lg-12">
                <div class="row aboutUsSection" data-aos="fade-right" data-aos-duration="2000">
                    <img class="aboutBg" src="assets/img/topSlider.svg" alt="">
                    <div class="col-lg-7 col-md-7 whoWeAre">
                        <h2 class="mt-2">Who we are ?</h2>
                        <h3>"The whole purpose of education is to turn mirrors into windows." <br> <span>Sydney J.
                                Warriors</span></h3>
                        <p>
                            MMP offers detailed information and the right tools for exam preparation ranging from K-12,
                            Olympiads, NTSE, entrance exams and government recruitment exams. The idea behind this platform
                            is to offer students a single platform for all sorts/categories of examinations.
                        </p>
                        <p>
                            Our <span>AI-Enabled Make My Path</span> section will help you to set your goal and will
                            recommend best path
                            to achieve the same in minimum possible time. We believe learning always happens in groups, so
                            MMP enables teachers to create groups and share assignments and papers with their students.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row chairmansDesk justify-content-center" style="position: relative;" data-aos="fade-left" data-aos-duration="2000">
                    <img class="chairmansBg" src="assets/img/PsirBg.svg" alt="">
                    <div class="col-lg-12">
                        <h2 class="text-center">Chairman`s Desk</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center ">
                                <div class="">
                                    <div class="card">
                                        <div class="imageDivP" style="position: relative;">
                                            <img class="card-img" src="assets/img/puneetsird1.png" alt="">
                                            <a href="https://www.linkedin.com/in/puneet-chandra-40486710a" target="_blank"
                                                class="linkedPuneetSir"><img src="assets/img/linkdin.png" alt=""></a>
                                            <img class="doubleSquare" src="assets/img/doubleSquare.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h3 class="chairmansNameMobile">Puneet Chandra <br> <span>Founder & CEO</span></h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="welcomeMmp">Welcome and thank you for visiting MakeMyPath!</p>
                                <p class="ourPurpose">
                                    Our purpose is to empower every student with the right learning tool.
                                    As we wade through the pandemic, online learning platforms have expanded more than ever.
                                    However, to leverage the power of technology, students need the right learning tools,
                                    personalized as per their needs. <br>
                                    Every child is unique and learns differently. With this in mind, we founded MakeMyPath –
                                    India's largest Edu-service platform for various school as well as competitive
                                    examinations. <br>
                                    In addition, we didn't leave the mentors behind. An empowered mentor is indispensable
                                    for bright and beautiful futures of our students. That's why, we have spent long hours
                                    to share the workload of our teachers. Our platform can be used by the mentors to create
                                    and customize practice & papers and share the result with students as well as parents.
                                    <br>
                                    I am thankful to our entire team members who worked closely to build MakeMyPath - a
                                    single AI based platform where students are provided with everything, they need to set
                                    their goals and easily find the best path to achieve it. <br>
                                    I am happy to be a part of team that will define the technology powered education of the
                                    future. <br>
                                    On behalf of MakeMyPath, I invite and welcome you to explore our website and learn more
                                    about everything we have to offer. I am sure whether you are a student (concerned about
                                    their future), a parent(who want to provide the best resources to their child) or a
                                    mentor (who needs the right tools for their students) – you would love our platform.
                                </p>
                                <h3 class="chairmansNameDesktop">Puneet Chandra <br> <span>Founder & CEO</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row ourTeam justify-content-center">
                    <div class="col-lg-12">
                        <h2 class="text-center">Our Team</h2>
                        <p class="text-center">"ALONE, we can do so little, TOGETHER, we can do
                            so much."</p>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 teamColumn">
                                <div class="card" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="teamImage">
                                        <img src="assets/img/ArvindSingh.svg" alt="">
                                        <a class="linkedinIcon" href="https://www.linkedin.com/in/arvind-singh-119234172"
                                            target="_blank">
                                            <img src="assets/img/linkdin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="namePosition">
                                        <p>Arvind Singh <br> <span>VP (Operations)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 teamColumn">
                                <div class="card" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="teamImage">
                                        <img src="assets/img/DeepakSingh.svg" alt="">
                                        <a class="linkedinIcon" href="https://www.linkedin.com/in/deepak-singh-9026611b2"
                                            target="_blank">
                                            <img src="assets/img/linkdin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="namePosition">
                                        <p>Deepak Singh <br> <span>VP (Content)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 teamColumn">
                                <div class="card" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="teamImage">
                                        <img src="assets/img/VishalSingh.svg" alt="">
                                        <a class="linkedinIcon" href="https://www.linkedin.com/in/realwishall"
                                            target="_blank">
                                            <img src="assets/img/linkdin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="namePosition">
                                        <p>Vishal Singh <br> <span>CTO</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 teamColumn">
                                <div class="card" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="teamImage">
                                        <img src="assets/img/ImranRashid.svg" alt="">
                                        <a class="linkedinIcon" href="https://www.linkedin.com/in/imranrashid003"
                                            target="_blank">
                                            <img src="assets/img/linkdin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="namePosition">
                                        <p>Imran Rashid <br> <span>VP (Product)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 teamColumn">
                                <div class="card" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="teamImage">
                                        <img src="assets/img/AnjaliMishra.svg" alt="">
                                        <a class="linkedinIcon" href="https://www.linkedin.com/in/anjali-mishra-a03998a6" target="_blank">
                                            <img src="assets/img/linkdin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="namePosition">
                                        <p>Anjali Mishra <br> <span>VP (Acad Operations)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 teamColumn">
                                <div class="card" data-aos="flip-right" data-aos-duration="2000">
                                    <div class="teamImage">
                                        <img src="assets/img/RohitSIngh.svg" alt="">
                                        <a class="linkedinIcon" href="https://www.linkedin.com/in/rchauhan56"
                                            target="_blank">
                                            <img src="assets/img/linkdin.png" alt="">
                                        </a>
                                    </div>
                                    <div class="namePosition">
                                        <p>Rohit Singh <br> <span>VP (Engineering)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class=" ourValues justify-content-center">
                    <div class="col-lg-12">
                        <h2 class="text-center">Our Values</h2>
                        <p class="text-center">"Core values are the heartbeat of the
                            organisation that support our vision &
                            mission" </p>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 teamColumn">
                                <div class="card">
                                    <img src="assets/img/12.png" alt="">
                                    <p>User <br> Satisfaction</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 teamColumn">
                                <div class="card">
                                    <img src="assets/img/13.png" alt="">
                                    <p>Integrity <br> & Ethical Learning</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 teamColumn">
                                <div class="card">
                                    <img src="assets/img/14.png" alt="">
                                    <p>Innovation <br> & Creativity</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 teamColumn">
                                <div class="card">
                                    <img src="assets/img/15.png" alt="">
                                    <p>Nurturing <br> With Excellence</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <!-- <app-footer></app-footer> -->
            </div>
        </div>
    </div>
</div>
