<div class="main-container">

  <div class="navbarWebsite" id="landingNav">
    <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light" id="spyNav">
        <a class="navbar-brand" href="#">
            <div class="navbarLogoDiv">
                <img class="" src="assets/img/LTS_company logo.png" alt="LTS_company" />
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': activeHome == true}"
                    [routerLink]="['/']" [queryParams]="{ 'pageSec': 'about' }" (click)="toggleSection('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': activeAbout == true}"
                    [routerLink]="['/']" [queryParams]="{ 'pageSec': 'about' }" (click)="toggleSection('about')">About-Us</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': activeGoal == true}"
                      [routerLink]="['/']" [queryParams]="{ 'pageSec': 'exams' }" (click)="toggleSection('goals')">Goals</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': activeAssociation == true}"
                        [routerLink]="['/']" [queryParams]="{ 'pageSec': 'institute'}" (click)="toggleSection('contactUs')">Contact-Us</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0)">Ed Talk <sup>"Coming Soon"</sup></a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" [ngClass]="{'active': activeFaq == true}"
                        [routerLink]="['/']" [queryParams]="{ 'pageSec': 'faqDiv' }" (click)="toggleSection('faq')">FAQ</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal" (click)="showLoginForm()"
                        href="#">Login</a>
                </li>
                <li class="nav-item">
                    <button class="btn btnRegister" data-toggle="modal" data-target="#exampleModal"
                        (click)="openRegister()">
                        Register
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>





<div class="modal fade loginModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close closeModal modalCloseButton" data-dismiss="modal" aria-label="Close"
                    #closeModal>
              <span aria-hidden="true">&times;</span>
            </button>
              <div class="loginSignupModal">
              <ng-container *ngIf="showLogin">
                <div class="row LoginSignupSection">
                  <div class="col-lg-6 text-white studentBg">
                    <div class="signUpContentSection">
                      <h2>Log In <span class="iconify" data-icon="entypo:login"></span></h2>
                        <p>
                          <span class="iconify" data-icon="eos-icons:ai-operator"></span> 
                          Join MMP, A Single Platform for preparation of all sorts/categories of examinations. 100% Free.
                        </p>
                        <p>
                          <span class="iconify" data-icon="eos-icons:ai-operator"></span> 
                          MMP offers detailed information & right tool for exam preparation ranging from K-12, Olympiads, NTSE, Entrance Exams & Government Recruitment exams.
                        </p>
                        <p>
                          <span class="iconify" data-icon="eos-icons:ai-operator"></span>
                           Our AI-Enabled Make My Path section helps you to set your Goal & will recommend best path to achieve the same in minimum possible time.
                          </p>
                    </div>
                      <img class="rocket-launchTwo" src="assets/img/mdi_rocket-launch.png" alt="Make My Path">
                  </div>
                  <div class="col-lg-6 d-flex justify-content-center align-items-center" style="background-color: #F3F3F3;">
                    <div class="signUpFormSection">
                      <h2 class="text-center welcomeTitleStudent font-weight-bold">Log in to Absolute Study</h2>
                      <div class="d-flex justify-content-center">
                        <img class="signupImage" src="assets/img/signInImage.png" alt="Make My Practice">
                      </div>                                   
                      <form *ngIf="passwordLogin" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
                        <div class="form-group">
                          <div class="formdiv">
                            <label for="username">Mobile Number</label>
                              <input class="form-control studentInput" type="text" placeholder="Enter Your Mobile No." name="mobile"
                                [(ngModel)]="phoneNumber" required autofocus (input)="validateLoginNumber()" />
                          </div>
                          <div class="formdiv">
                            <label for="password">Enter Password</label>
                              <input class="form-control studentInput" type="password" name="password" placeholder="Enter Password"    [(ngModel)]="password" required />
                          </div>
                          <div id="loginError" class="mt-2" hidden></div>
                            <div class="formdiv d-flex justify-content-center">
                              <button [disabled]="!password" class="btn mt-4 ml-0 mr-0 z-depth-0 login-submit studentBg" type="submit" (click)="loginUser(loginForm.value)" data-dismiss="modal">
                                Log In
                              </button>
                            </div>
                        </div>
                      </form>
                      <div class="formdiv text-center mb-3">
                        <a href="javascript:void(0)" class="welcomeTitleStudent" (click)="openRegister()">
                          Don't have an account?
                          <span class="pl-1">Register Now</span>
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!showLogin">
              <div class="row LoginSignupSection">
                <div class="col-lg-6 text-white" [ngClass]="{'studentBg': activeCard === 'student','mentorBg': activeCard === 'teacher'}">
                  <div class="signUpContentSection">
                    <h2>Register <span class="iconify" data-icon="ic:round-app-registration"></span>
                    </h2>
                    <p *ngIf="activeCard === 'student'"><span class="iconify" data-icon="eos-icons:ai-operator"></span> Join MMP, A Single Platform for preparation of all sorts/categories of examinations. 100% Free.</p>
                    <p *ngIf="activeCard === 'student'"><span class="iconify" data-icon="eos-icons:ai-operator"></span> MMP offers detailed information & right tool for exam preparation ranging from K-12, Olympiads, NTSE, Entrance Exams & Goverment Recruitment exams.
                    </p>
                    <p *ngIf="activeCard === 'student'"><span class="iconify" data-icon="eos-icons:ai-operator"></span> Our AI-Enabled Make My Path section helps you to set your Goal & will recommend best path to achieve the same in minimum possible time.
                    </p>
                    <p *ngIf="activeCard === 'teacher'"><span class="iconify" data-icon="eos-icons:ai-operator"></span> Join MMP, A Single Platform for your students to prepare all sorts/categories of examinations. 100% Free.</p>
                    <p *ngIf="activeCard === 'teacher'"><span class="iconify" data-icon="eos-icons:ai-operator"></span> MMP offers detailed information & right tool for exam preparation ranging from K-12, Olympiads, NTSE, Entrance Exams & Goverment Recruitment exams.
                    </p>
                    <p *ngIf="activeCard === 'teacher'"><span class="iconify" data-icon="eos-icons:ai-operator"></span> Our AI-Enabled Make My Path section helps your students to set their Goal & recommend best path to achieve the same in minimum possible time.
                    </p>
                  </div>
                  <img class="rocket-launch" src="assets/img/mdi_rocket-launch.png" alt="Make My Paper">
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center" style="background-color: #F3F3F3;">
                  <div class="signUpFormSection">
                    <div *ngIf="!showOtpRegister" class="d-flex justify-content-center">
                      <div>
                        <button class="switchAccountOne" [ngClass]="{'activeBooks': activeCard === 'student'}" (click)="signUpStudent()">Student</button>
                      </div>
                      <div>
                        <button class="switchAccount" [ngClass]="{'activeBooksOne': activeCard === 'teacher'}" (click)="signUpTeacher()">Mentor</button>
                      </div>
                    </div>
                      <h2 class="text-center welcomeTitleStudent font-weight-bold" *ngIf="signupAsStudent">Welcome Student!</h2>
                      <h2 class="text-center welcomeTitleTeacher font-weight-bold" *ngIf="!signupAsStudent">Welcome Mentor!</h2>
                      <div class="d-flex justify-content-center">
                        <img class="signupImage" src="assets/img/obc.png" alt="MakeMyPath">
                      </div>
                      <form *ngIf="!showOtpRegister && activeCard == 'student'" [formGroup]="registerStudentForm" >
                        <div class="form-group">
                          <div class="formdiv">
                            <label for="username">Mobile Number</label>
                              <input class="form-control studentInput" type="text" placeholder="Enter Your Mobile No." name="phoneNumber"  required (input)="validateSignUpNumber()"  formControlName="phonenumber" />
                          </div>
                          <div id="loginError" class="mt-2" *ngIf="registrationPhoneNumber && !validLoginNo">
                            <span class="text-danger">Please enter valid mobile number</span>
                          </div>
                          <div class="mt-1">
                            <div class="formdiv">
                            <label for="password">Enter Name</label>
                              <input class="form-control studentInput" name="fullname" placeholder="Enter Your Full Name"  required (input)="validateSignUpName()" formControlName="fullname" />
                            </div>
                          </div>
                          <div class="mt-1">
                            <div class="formdiv">
                              <label for="password">Enter Password</label>
                              <input class="form-control studentInput" type="password" name="registerpassword" placeholder="Enter Password"  required (input)="validateSignUpName()"  formControlName="password" />
                            </div>
                          </div>
                          <div class="mt-1">            
                            <label for="">Select Board</label>              
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="onBoardSelectionChange($event)" formControlName="selectedBoard">
                              <option selected>Select board</option>
                              <option *ngFor="let board of boardData" [value]="board.id">{{board.name}}</option>
                            </select>
                          </div>
                          <div class="mt-1">            
                            <label for="">Select Class</label>              
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="onClassSelectionChange($event)" formControlName="class_register_id">
                              <option selected>Select Class</option>
                              <option *ngFor="let class of classData" [value]="class.id">{{class.name}}</option>
                            </select>
                          </div>
                          <div class="mt-1">            
                            <label for="">Select the group</label>              
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="user_type">
                              <option selected>Select Group</option>
                              <option value="Student">Student</option>
                              <option value="Mentor" disabled>Mentor</option>
                            </select>
                          </div>
                          <div id="loginError" class="mt-2" *ngIf="name && !validName">
                            <span class="text-danger">Please enter valid Name</span>
                          </div>
                          <div id="loginError" class="mt-2" hidden></div>
                          <div class="formdiv d-flex justify-content-center">
                            <button [disabled]="!registerStudentForm.valid" class="btn mt-3 ml-0 mr-0 z-depth-0 login-submit studentBg" type="submit" (click)="register()" data-dismiss="modal">Register as Student
                            </button>
                          </div>
                        </div>
                      </form>

                      <form *ngIf="!showOtpRegister && activeCard == 'teacher'" [formGroup]="registerForm" >
                        <div class="form-group">
                          <div class="formdiv">
                            <label for="username">Mobile Number</label>
                              <input class="form-control mentorInput" type="text" placeholder="Enter Your Mobile No." name="phoneNumber"  required (input)="validateSignUpNumber()" formControlName="phonenumber" />
                          </div>
                          <div id="loginError" class="mt-2" *ngIf="registrationPhoneNumber && !validLoginNo">
                            <span class="text-danger">Please enter valid mobile number</span>
                          </div>
                          <div class="mt-1">
                            <div class="formdiv">
                            <label for="password">Enter Name</label>
                              <input class="form-control mentorInput" name="fullname" placeholder="Enter Your Full Name"  required (input)="validateSignUpName()"  formControlName="fullname" />
                            </div>
                          </div>
                          <div class="mt-1">
                            <div class="formdiv">
                              <label for="password">Enter Password</label>
                              <input class="form-control mentorInput" type="password" name="registerpassword" placeholder="Enter Password"  required (input)="validateSignUpName()" formControlName="password" />
                            </div>
                          </div>
                          <div class="mt-1">            
                            <label for="">Select the group</label>              
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="user_type">
                              <option selected>Select Group</option>
                              <option value="Mentor">Mentor</option>
                              <option value="Student" disabled>Student</option>
                            </select>
                          </div>
                          <div id="loginError" class="mt-2" *ngIf="name && !validName">
                            <span class="text-danger">Please enter valid Name</span>
                          </div>
                          <div id="loginError" class="mt-2" hidden></div>
                          <div class="formdiv d-flex justify-content-center">
                            <button  [disabled]="!registerForm.valid" class="btn mt-3 ml-0 mr-0 z-depth-0 login-submit mentorBg" type="submit" (click)="registerMentor()"  data-dismiss="modal">Register as Mentor
                            </button>
                          </div>
                        </div>
                      </form>
                    <form *ngIf="showOtpRegister">
                         <div class="form-group">
                          <div class="formdiv">
                            <label class="font-weight-bold" for="password">Enter OTP</label>
                            <input class="form-control" type="otp" name="otp" placeholder="Enter OTP" [(ngModel)]="registrationOTP" required [ngClass]="{'studentInput': activeCard === 'student', 'mentorInput': activeCard === 'teacher'}"/>
                          </div>
                      <div id="loginError" class="mt-2" hidden></div>
                      <div class="formdiv d-flex justify-content-center">
                        <button class="btn mt-4 ml-0 mr-0 z-depth-0 login-submit" type="submit" (click)="verifyOtp(registrationOTP)" [ngClass]="{'studentBg': activeCard === 'student','mentorBg': activeCard === 'teacher'}" data-dismiss="modal">
                            Register
                          </button>
                          <button *ngIf="timer > 0" class="btn mt-4 ml-2 mr-0 z-depth-0 login-submit" type="button" style="background-color: #ffe1dd; border-radius: 50%; width: 40px; color: black;">
                            <b *ngIf="timer > 9" style="margin-left: -9px;">0:{{timer}}</b>
                            <b *ngIf="timer <= 9" style="margin-left: -9px;">0:0{{timer}}</b>
                          </button>
                          <button *ngIf="timer <= 0" class="btn mt-4 ml-2 mr-0 z-depth-0 login-submit" type="button" (click)="sendOTPRegister()" [ngClass]="{'studentBg': activeCard === 'student','mentorBg': activeCard === 'teacher'}">Resend OTP
                          </button>
                      </div>
                    </div>
                    </form>
                      <div class="formdiv text-center mb-3">
                        <a style="color: blue" *ngIf="signupAsStudent" href="javascript:void(0)" class="mr-3 mb-3"(click)="signUpTeacher()">Signing up as a teacher?
                        </a>
                          <br *ngIf="signupAsStudent" />
                        <a style="color: blue" *ngIf="!signupAsStudent" href="javascript:void(0)" class="mr-3 mb-3"
                                        (click)="signUpStudent()">
                                        Sign up as a learner..
                        </a>
                          <br *ngIf="!signupAsStudent" />
                        <a href="javascript:void(0)" class="alreadyAccount" (click)="showLoginForm()" [ngClass]="{'welcomeTitleStudent': activeCard === 'student', 'welcomeTitleTeacher': activeCard === 'teacher'}">
                        Already have an account?
                          <span class="pl-1">Login Now</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="homeSection col-md-12" id="home" *ngIf="showHomeContent" style="margin-top: 100px;">
<app-home-content></app-home-content>
</div>


<div class="aboutSection" id="about-us" *ngIf="showAboutSection" style="margin-top: 100px;">
  <app-about-us></app-about-us>
</div>
<div class="goalSection" id="goals" *ngIf="showGoalsSection" style="margin-top: 100px;">
  <h3>goals Work</h3>
</div>
<div class="contactSection" id="contact" *ngIf="showContactSection" style="margin-top: 100px;">
  <app-contact-us></app-contact-us>
</div>
<div class="FaqSection" id="faq" *ngIf="showFaqSection" style="margin-top: 100px;">
  <h3>FAQ Work</h3>
</div>
</div>





<div class="content" role="main">
  <svg id="clouds" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <title>Gray Clouds Background</title>
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>
</div>