<div class="disply-container">
    <div class="row d-flex" id="main-container">
        <div class="col-lg-8 col-md-6">
            <div class="row juorneyRow">
                <div class="col-md-12">
                    <h2>Select Your Board <i style="font-size: 25px;" class="far fa-hand-point-down"></i></h2>
                </div>
                <div class="col-md-12">
                    <ul class="board-list">
                        <li>
                            <h5 style="cursor: pointer;" routerLink="/choose-p">
                                <span class="mr-2">
                                    <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                                </span> CBSE
                            </h5>
                        </li>
                        <li>
                            <h5 style="cursor: pointer;">
                                <span class="mr-2">
                                    <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                                </span> ICSE
                            </h5>
                        </li>
                        <li>
                            <h5 style="cursor: pointer;">
                                <span class="mr-2">
                                    <i aria-hidden="true" class="fa fa-angle-double-right"></i>
                                </span> UP Board
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 latestJobs">
            <div class="card latestJobCard">
                <h2 class="text-center">Latest Updates </h2>
                <div class="scrollSection">
                    <p class="noExamsFound text-center">Updates not found</p>
                    <ul>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                        <li>12</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>