<div class="displyy-container">
    <div class="practicePaperSecondSection mathjax" #mathjax>
      <div class="container">
        <div class="row practiceExamScreen">
         <h5>Exam Details-</h5>
         <div class="attempt__details">
          <h6>Attempt Number - {{ attemptNUmber }} </h6> &nbsp;&nbsp; &nbsp;&nbsp;
          <h6>Select the previous attempt for details-
            <select class="form-control" id="" (change)="changeDetails($event)">Select Attempt
              <option [value]="attempt.id" *ngFor="let attempt of attemptDropdown">{{ attempt.position }}</option>
            </select>
          </h6>
         </div>
          <div class="col-xl-8 practiceQuestionAndSolutionDiv">
            <div class="card graphArea">
              <div class="row" *ngIf="!showLoader">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <h2>
                    Question : {{ currentQuestion + 1 }} / {{ questions.length }}
                  </h2>
                </div>
                <div class="col-xl-12">
                  <!-- QUESTION BODY -->
                  <div
                    class="card-body question-content QuestionAndSolutionSection">
                    <!-- Question Text & Image -->
                    <div class="text-black">
                      <div class="mt-2">
                        <ng-container *ngFor="let item of questions; let i = index">
                          <div class="timeConsumed" *ngIf="i === currentQuestion && !timeSkipped(i)" style="float: right;">
                            <p>Time Consumed- {{questions[currentQuestion]?.timeConsumed}} Sec</p>
                          </div> 
                          <div class="timeConsumed" *ngIf="i === currentQuestion && timeSkipped(i)" style="float: right;">
                            <p style="color: red; font-weight: 600;">These Question was Skipped</p>
                          </div> 
                          <div style="display: inline-block;" *ngIf="i === currentQuestion" class="font-sm-1 mb-1 comprehension-question"
                            [innerHtml]="questions[currentQuestion]?.question"></div>
                        </ng-container>
                      </div>
                    </div>
  
                    <!-- Question Options for MCQ or MCC Type -->
                    <div class="mt-3">
                      <div class="mb-2 option-container">
                        <ul>
                          <li class="cursor-pointer mb-2 text-black" *ngFor="let option of questions[currentQuestion]?.options; let optionIndex = index">
                            <div class="d-flex">
                              <label class="labl">
                                <input type="radio" name="option" id="{{ option['id'] }}"  disabled/>
                               <div [ngClass]="(getSelectedAnswer() === indexToLetter(optionIndex) ? 'selected-answer' : '') + ' ' + (isCorrectAnswer(optionIndex) ? 'correct-answer' : '') + ' ' + (timeSkipped(optionIndex) ? 'incorrect-answer' : '')">
                                  <span class="font-weight-bold font-sm-1 optionNumbering">{{ indexToLetter(optionIndex) }}</span>
                                  <span class="ml-3 option-text font-sm-1" [innerHtml]="option"></span>
                                </div>
                                <!-- <div [ngClass]="(isCorrectAnswer(optionIndex) ? 'correct-answer' : '') + ' ' + (getSelectedAnswer() === indexToLetter(optionIndex + 1) ? 'selected-answer' : '')">
                                  <span class="font-weight-bold font-sm-1 optionNumbering">{{ indexToLetter(optionIndex) }}</span>
                                  <span class="ml-3 option-text font-sm-1" [innerHtml]="option"></span>
                                </div> -->
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="allButtonsDiv">
                    <div class="prevNextBtnDiv">
                      <div>
                        <a href="javascript:void(0)" (click)="previousQuestion()">
                          <span [ngClass]="{ 'no-question': currentQuestion === 0 }">
                              <i class="fa fa-angle-double-left"></i>
                            Previous
                          </span>
                        </a>
                      </div>
                      <div>
                        <a href="javascript:void(0)" class="ml-4" (click)="nextQuestion()" [ngClass]="{'no-question': currentQuestion === questions.length - 1}">
                          Next
                          <span>
                              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="loader" *ngIf="showLoader">
                <div class="justify-content-center jimu-primary-loading"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 practiceLegendsDiv">
            <div class="card graphArea">
              <h2>Question Status</h2>
              <div class="row questionNumberHEight">
                <div class="col-xl-15" *ngFor="let question of questions; let i = index" >
                  <div class="circleSection" (click)="jumpToQuestion(i)">
                    <!-- <div class="circle" [ngClass]="{'answeredQuestion': isCorrect(i),'selected-answer: isInCorrect(i)}">
                      {{ i + 1 }}'
                    </div> -->
                    <div class="circle" [ngClass]="(isCorrect(i) ? 'answeredQuestion' : '') + ' ' + 
                       (isInCorrect(i) ? 'selected-answer2' : '') + ' ' +
                       (isSkipped(i) ? 'skipped-question' : '')">
                         {{ i + 1 }}
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <div class="separtaor"></div>
                </div>

                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="circleSection">
                    <div class="circle" id="currentQuestion">
                      {{ currentQuestion + 1 }}
                    </div>
                    <h2>Current</h2>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="circleSection">
                    <div class="circleOne">
                      {{ totalSkipped }}
                    </div>
                    <h2>Not Attempted</h2>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <div class="circleSection">
                    <div class="circleTwo">
                      {{ totalAnswersCount }}
                    </div>
                    <h2>Answered</h2>
                  </div>
                </div> -->

                <div id="chart"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  