<div class="disply-container">
    <div  class="pppp container">
        <div class="col-md-12">
            <h2 class="examTitle text-center">Class 1st CBSE Academics</h2>
            <div class="totalUser">
                <div><span>Total Users : 5445</span></div>
            </div>
        </div>
        <hr>
        <div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <button class="btn examOverview" routerLink="/exam-overview" routerLinkActive="router-link-active" >Exam Overview <span class="iconify" data-icon="healthicons:i-exam-multiple-choice"></span></button>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row newCardRow d-flex justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 nopadding" data-aos="fade-right" data-aos-duration="2000">
                        <div class="card">
                            <h3 class="text-center">Make My <span>PRACTICE</span></h3>
                            <div class="imageDiv"><img src="assets/img/practice.svg" alt=""></div>
                            <button  class="btn" routerLink="/subjects">start practice</button>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 nopadding" data-aos="fade-left" data-aos-duration="2000">
                        <div class="card">
                            <h3 class="text-center">Make My <span>PATH</span></h3>
                            <div class="imageDiv"><img src="assets/img/path.svg" alt=""></div>
                            <button disabled class="btn" style="color: red;">Coming Soon...</button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

