<div class="disply-container">
    <div class="container mypath">
        <div class="row">
            <div class="col-md-12">
                <h2>Exam Overview</h2>
                <div class="totalUser">
                    <button routerLink="/dashboard/" class="btn float-left btnLeaderboard">
                        <i class="fas fa-angle-double-left mr-1"></i>Dashboard
                    </button>
                    <div>
                        <span>Total Users : </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-lg-3 col-md-4 optionDiv">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <ng-container *ngFor="let ques of pathQuestions; let i = index">
                        <a *ngIf="i==0" class="nav-link active" id="v-pills-{{ques?.id}}-tab" data-toggle="pill"
                            href="#v-pills-{{ques?.id}}" role="tab" [attr.aria-controls]="'v-pills-' + ques?.id"
                            aria-selected="true"><span class="text">{{ques?.title}}</span> </a>
                        <a *ngIf="i!=0" class="nav-link" id="v-pills-{{ques?.id}}-tab" data-toggle="pill"
                            href="#v-pills-{{ques?.id}}" role="tab" [attr.aria-controls]="'v-pills-' + ques?.id"
                            aria-selected="false"><span class="text">{{ques?.title}}</span> </a>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                <div class="contentDiv">
                    <div class="contentDivInner">
                        <div class="tab-content" id="v-pills-tabContent">
                            <ng-container *ngFor="let ques of pathQuestions; let i = index">
                                <div *ngIf="i==0" class="tab-pane fade show active" id="v-pills-{{ques?.id}}"
                                    role="tabpanel" [attr.aria-labelledby]="'v-pills-' + ques?.id + '-tab'"
                                    [innerHtml]="ques?.content">
                                </div>
                                <div *ngIf="i!=0" class="tab-pane fade" id="v-pills-{{ques?.id}}" role="tabpanel"
                                    [attr.aria-labelledby]="'v-pills-' + ques?.id + '-tab'" [innerHtml]="ques?.content">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="buttonsGroup">
                    <div>
                        <button class="btn" disabled>Best Books Suggested</button>
                    </div>
                    <div>
                        <button class="btn" disabled>Best Resources <small>"Coming Soon"</small></button>
                    </div>
                    <div>
                        <button class="btn" disabled>Previous Year Papers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>