/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background: rgb(255, 247, 247) !important; 
    font-family: 'Roboto', sans-serif;

    /* If want then add the image on cursor as well */
    /* cursor: url('assets/img/LTS_company logo white bg.png')10 10, auto; */
    
}

/* .disply-container1{
    width: 120%;
margin-left: -10%;
} */


.disply-container{
    padding-left: 18%;
    margin-top: 80px;
    transition: all 0.4s;
}

.sub-container{
    margin-top: 80px;
    transition: all 0.4s;
}
.display-container{
    padding-left: 18%;
    margin-top: 80px;
    transition: all 0.5s;
}

.sub-containerr{
   padding-left: -18%;
   margin-top: 80px;
   transition: all 0.5s;
}

.errorMsg{
    color: red;
    font-weight: 400;
}

@media(max-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
    .disply-container{                           
        padding-left: 0 !important;
    }
    .display-container{
        padding-left: 0;
      }
}